#background_header{
  width: 100%;
  height: 20%;
  position: fixed;
  background-color: #00a884;
}

#background_body{
  background-color: #dadddd;
}

#app-login-portal{
  position: fixed;
  top: 30%;
  bottom: 30%;
  right: 30%;
  left: 30%;
  border: 4px solid #000;
}

#chatContainer{
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 97.5%;
  height: 95%;
  background-color: #fff;
  right: 0px;
  left: 0px;
  box-shadow: rgba(120, 120, 120, 0.7) 0px 0px 80px;
  display: flex;
  flex-direction: row;

  app-sidebar{
    flex-basis: 30%;
    min-width: 166px;
    display: block;
    border-right: 1px solid #e9edef;
  }

  app-create-group-menu{
    min-width: 166px;
    width: 30%;
    height: 100%;
    display: block;
    border-right: 1px solid #e9edef;
    position: absolute;
    background-color: #fff;
  }

  app-chat-info{
    width: 30%;
    height: 100%;
    border-left: 1px solid #e9edef;
    background-color: #fff;
  }

  #chat{
    flex-grow: 1;
    background-color: #F0F2F5;
    display: flex;

    #chatPlaceholder{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      color: #41525d;
    }
  }

  app-chat{
    flex-grow: 1;
  }


}
