<div id="sidebar">
  <div id="row1">
    <div id="sidebarHeader">
      <div class="actionsContainer">
        <img id="closeMenuButton" (click)="closeMenu()" src="../../assets/images/close-icon-grey.svg">
      </div>
    </div>
  </div>

  <div id="sidebarContent" >
    <div id="chatProfile">
      <div id="displayPicture">
        <img src="../../assets/images/no-avatar.svg">
      </div>
      <div id="chatProfileName">
        {{ conversation.name }}
      </div>
    </div>
    <div id="groupSettings" *ngIf="conversation['groupParticipants']" >
      <div id="modifyGroupParticipants">
        Group Participants
      </div>
      <div id="searchBox">
        <input [(ngModel)]="searchText" type="text" placeholder="Type contact name or mobile number">
      </div>
      <div
        class="contactInfo"
        *ngFor="let contact of !searchText ? contacts : filteredContacts"
      >
        <div class="picture">
          <img src="../../assets/images/no-avatar.svg">
        </div>

        <div class="content">

          <div class="contactHeader">
            <div class="name">{{ contact.name }}</div>
            <div class="isSelectedCheckBox">
              <input (change)="onMembershipChange(contact)" [(ngModel)]="contact.isSelected" class="customCheckbox" type="checkbox">
            </div>
          </div>

          <div class="mobileNumber">
            {{contact.mobileNumber}}
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
