#sidebar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  #row1{
    flex-basis: 104px;
    display: flex;
    flex-direction: column;

    #sidebarHeader{
      flex-basis: 67px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: #008069;
      padding-left: 20px;
      padding-right: 20px;

      .actionsContainer{
        height: 100%;
        width: 120px;
        margin-top: 38px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        #closeMenuButton{
          cursor: pointer;
        }
      }
    }

    #addParticipantsHeading{
      padding-left: 20px;
      padding-right: 20px;
      background-color: #008069;
      flex-basis: 50px;
      color: #fff;
      display: flex;
      align-items: center;
      font-size: 19px;
      font-weight: 500;
      border-bottom: 1px solid #e9edef;
    }

    #searchBox{
      flex-basis: 60px;
      background-color: white;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 20px;

      input{
        width: calc(90% - 40px);
        border-left: 0 solid #fff;
        border-right: 0 solid #fff;
        border-top: 0 solid #fff;
        border-bottom: 1px solid #e9edef;
        height: 50%;
        font-size: 15px;
        outline: none;
      }
    }

  }

  #sidebarContent{

    overflow: auto;

    #noConversations{
      padding-top: 30px;
      text-align: center;
      color: #667781;
      font-size: 18px;
    }

    .contactInfo{
      width: 100%;
      height: 67px;
      display: flex;
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: rgba(#00000d, 0.04);
      }

      .picture{
        height: 100%;
        flex-basis: 73px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
          width: 49px;
        }
      }
      .content{
        height: 100%;
        border-bottom: 1px solid #e9edef;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: 15px;

        .contactHeader{
          flex-grow: 1;
          display: flex;
          align-items: end;
          margin-bottom: 2px;
          justify-content: space-between;

          .name{
            font-size: 17px;
          }

          .isSelectedCheckBox{
            .customCheckbox{
                background-color: #fff;
                border: 2px solid #008069;
                padding: 7px;
            }

            .customCheckbox:checked {
              background-color: #008069;
              border: 2px solid #008069;
            }

            .customCheckbox:checked:after {
              font-size: 10px;
              color: #fff;
            }
          }


        }

        .mobileNumber{
          flex-grow: 1;
          font-size: 14px;
          color: rgb(102, 119, 129);
          margin-top: 2px;
          display: flex;
          line-height: 22px;
        }
      }
    }
  }

  #footer{
  //flex-basis: 67px; don't use this, it causes issue when more messages are added to body - use min-height instead
  min-height: 67px;
  background-color: #F0F2F5;
  display: flex;
  padding: 0 20px;

    #textArea{
      flex-grow: 1;
      display: flex;
      align-items: center;

      input[type = text]{
        height: 40px;
        width: 100%;
        border: 0;
        border-radius: 8px;
        outline: none;
        resize: none;
        box-sizing: border-box;
        padding: 12px;
        margin-right: 20px;
        font-size: 15px;
      }
    }

    #createGroupSubmit{
      width: 30px;
      border: 1px solid #008069;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #008069;
      cursor: pointer;
    }
  }
}
